$_base-space: 1rem * 0.25;
$space-1: $_base-space * 1;
$space-2: $_base-space * 2;
$space-6: $_base-space * 6;
$space-12: $_base-space * 12;

// Breakpoint note
// mobile: 0px ~ 768px
// tablet: 769px ~ 1024px
// desktop: 1025px ~
$break-point-mobile-tablet: 769px;
$break-point-tablet-desktop: 1025px;

$container-max-width: 1440px;

$alternative-background-color: #eee;

@mixin desktop {
  @media screen and (min-width: $break-point-tablet-desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $break-point-mobile-tablet) and (max-width: $break-point-tablet-desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $break-point-mobile-tablet) {
    @content;
  }
}

html, body {
  margin: 0;
}

.container {
  @include desktop {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $space-2;
  }

  @include tablet {
    padding: 0 $space-2;
  }

  @include mobile {
    padding: 0 $space-1;
  }
}

.section {
  padding: $space-12 0;
}

.citation {
  & > pre {
    overflow-x: auto;
    padding: $space-6;
    background: $alternative-background-color;
  }
}
